@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-900 text-white font-sans antialiased text-slate-200;
  }
}

@layer utilities {
  .pause-hover:hover {
    animation-play-state: paused;
  }
}
